.search-container {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
}

.search-container .search-heading {
  display: flex;
  gap: 10px;
  align-items: center;
  color: white;
  margin-bottom: 30px;
}

@media screen and (min-width: 700px) {
  .search-container {
    min-width: 600px;
  }
}
