.radio-groups {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.radio-groups input {
  margin: 3px 0px 0px;
}

.radio-input label {
  margin-left: 2px;
  color: rgb(44, 43, 43);
}
.radio-input {
  display: flex;
  align-items: center;
}
